*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:serif;
}

  /* Custom styling for the navbar */
.navbar{
  background-color: #e7e7e7;
}  
.navbar-brand img {
  width: 80px;
  height: 60px;
  transition: all 0.3s ease;
  margin-left: 40px;
}
.navbar-brand img:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}
.navbar-nav{
  margin-right: 40px;
}

.nav-item .nav-link{
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 500;
  margin-right: 1rem;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: #00aaa1 ;
}

@media (max-width: 992px) {
  
  .navbar-brand img {
    margin-left: 20px;
  }
  .nav-item .nav-link{
    margin-left: 20px;
  }
}

/* Full-screen hero section */
.hero {
  position: relative;
  background-image: url('/assets/study_mbbs_abroad.webp'); /* Replace with your banner image URL */
  background-size: cover;
  background-position: center;
  height: 60vh;
}

/* Center the content inside the hero */
.hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(39, 38, 38);
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero .btn {
  font-size: 1.15rem;
  padding: 0.70rem 2rem;
  background-color: #00aaa1 ;
  color: white;
  border-color: #00aaa1;
  border-radius: 5px;
}

.hero .btn:hover {
  background-color: #5ecd81 ;
}

@media (max-width: 560px) {
  .hero h1 {
    font-size: 2.25rem;
  }
  
  .hero p {
    font-size: 1.2rem;
  }
}

/* Section: Why Study MBBS in Abroad in 2025 */
.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #00aaa1;
}

.section-description {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 40px;
  color: #555;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.list-item i {
  font-size: 1.5rem;
  color: #00aaa1;
  margin-right: 15px;
}

.list-item p {
  font-size: 1.1rem;
  color: #333;
}

.cta {
  background-color: #034380;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 40px;
}

.cta h3 {
  font-size: 2rem;
}

.cta p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.cta .btn {
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
  background-color: #00aaa1;
  color: #faf7f6;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta .btn:hover {
  background-color: #5ecd81;
  color: white;
}


    